{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:react-hooks/recommended",
		"next/core-web-vitals"
	],
	"plugins": ["react", "@typescript-eslint"],
	"rules": {
		// Add any rules you prefer, e.g., "@typescript-eslint/no-unused-vars": "warn"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
