.comments-section {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
  
    form {
      margin-top: 1rem;
      
      textarea {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }